body {
    margin: 0px;
	font-family: 'Roboto', sans-serif;
}

img {
	width: 100%;
}

.vertical-center {
	display: flex;
	align-items: center;
}

.title-background {
	/*background-attachment: fixed;*/
	background-position: center 100vh;
	background-size: cover;
	height: 100vh; 
	width: 100%
}

.shadow-font {
	text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.15);
}

.title-font {
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-size: 4rem;
}

.light-font {
	font-weight: 100;
	letter-spacing: 1.5px;
	font-size: 1.5rem;
}

.text-on-the-right {
	font-size: 2.2rem;
	margin-right: 2vw;
	margin-left: 2vw;
}

.text {
	font-weight: 200;
	letter-spacing: 0.8px; 
}

.text-middle {
	font-size: 1.6rem;
}

.text-small {
	font-size: 1rem;
}

.text-grey {
	color: #828282;
}

div.container {
	padding: 0;
	max-width: 100vw;
}

div.col {
	min-width: 300px;
	margin: 2vw;
}

div.row {
	margin: 0;
}

.floating-box-2 {
    display: inline-block;
    min-width: 300px;
    min-height: 300px;
    width: 45vw;
    height: 45vw;
    /*padding: 5vw;*/
    vertical-align: top;
}

.flex-container {
	display: flex;
  	flex-wrap: wrap;
  	margin-top: 5vw;
}

.flex-item {
	flex: 1;
  	min-width: 300px;
  	display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.line {
	margin-top: 0; 
	margin-bottom: 0;
	width: 50%
}
